body {
  overflow: hidden;
}

.otree-body {
  max-width: 100vw;
  max-height: 100vh;
  padding: 0px;
}

._otree-content {
  max-width: 100vw;
  overflow-x: hidden;
  display: grid;
  grid-template-columns:
    [full-start] auto [wide-start] minmax(0px, 100px)
    [main-start] 900px [main-end] minmax(0px, 100px)
    [wide-end] auto [full-end];
}

._otree-content > * {
  grid-column: main;
}

._otree-content > .wide {
  grid-column: wide;
}

._otree-content > .full {
  grid-column: full;
}

._otree-content p:last-child {
  margin: 0px;
}

.otree-title,
.otree-timer {
  display: none;
}

.otree-timer {
  position: fixed;
  top: 4px;
  right: 10px;
  margin: 0px;
  padding: 0px;
  background: transparent;
  border: none;
  z-index: 100;
  color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
}

.btn-primary {
  position: fixed;
  top: 10px;
  right: 10px;
}

body #next-button {
  display: none;
}

body.debug #next-button {
  display: block;
}

h1 {
  margin: 20px 0px;
}

span.code {
  font-family: monospace;
  background: rgba(32, 32, 32, 0.9);
  padding: 0px 6px;
  border-radius: 4px;
  display: inline-block;
  color: white;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  align-items: center;
  width: 100%;
  margin: 60px 0px;
}

.task-description {
  font-size: 18px;
  margin: 20px 0px;
}

.note {
  font-size: 18px;
  background: rgba(105, 63, 223, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
}
