{% extends "global/Page.html" %} {% block content %}

<h1>Break</h1>

<p>Please sit still, relax and focus on the fixation cross for 30 seconds.</p>

<div class="fixation-cross">+</div>

<button
  class="btn btn-primary"
  onclick="document.getElementById('next-button').click();"
>
  Continue
</button>

<style>
  .fixation-cross {
    aspect-ratio: 16 / 9;
    width: 100%;
    align-content: center;
    justify-items: center;
    text-align: center;
    height: 80vh;
    font-size: 100px;
  }
</style>

{% endblock %}
