{% extends "global/Page.html" %} {% block content %}

<h2>Developer Task</h2>

<!-- <p><strong>Time Remaining: </strong> <span id="timer"></span></p> -->

<div
  style="
    display: flex;
    height: 80vh;
    flex-direction: row;
    width: 95vw;
    margin-left: -280px;
  "
>
  <!-- vs code above -->
  <iframe
    src="http://localhost/"
    style="width: 50%; height: 100%; border: none"
  ></iframe>

  <!-- browser below -->
  <iframe
    src="https://www.google.com"
    style="width: 50%; height: 100%; border: none"
  ></iframe>
</div>

<button
  onclick="event.preventDefault();fetch('http:\/\/localhost:5000/run-script')"
>
  Run Script
</button>

<button
  class="btn btn-primary"
  onclick="document.getElementById('next-button').click();"
>
  Continue
</button>

{% endblock %}
