{% extends "global/Page.html" %} {% block content %}

<h1 style="display: none">Programming Task 1</h1>

<script>
  function runTests(event) {
    event.preventDefault();
    document.querySelector("#test-results").innerHTML = "Running tests...";
    let res = fetch("http:\/\/127.0.0.1:5000/run-tests")
      .then((res) => res.json())
      .then((res) => {
        if (res.error) {
          document.querySelector("#test-results").innerHTML = res.error;
        } else {
          document.querySelector("#test-results").innerHTML = res.output;
        }
      });
  }

  function iframeReset(event) {
    event.preventDefault();
    document.getElementById("browser").src = "https://www.google.com/";
  }

  function showTask(event) {
    event.preventDefault();
    document.querySelector("dialog").setAttribute("open", "true");
  }
  function hideTask(event) {
    event.preventDefault();
    document.querySelector("dialog").removeAttribute("open");
  }
</script>

<div class="full split-window">
  <div class="split-window-div">
    <button onclick="showTask(event)">Show UML diagrams</button>
    <button onclick="runTests(event)">Run Tests</button>
    <div id="test-results"></div>
  </div>
  <div class="split-window-div">
    {% if useAI %}{%else%}
    <button onclick="iframeReset(event)">Go to Google frontpage</button>
    {% endif %}
  </div>

  <!-- vs code above -->
  <iframe src="http://localhost/"></iframe>

  <!-- browser below -->

  {% if useAI %}
  <div class="gpt-window">{% include "ChatGPT.html" %}</div>
  {%else%}
  <iframe src="https://www.google.com/" id="browser"></iframe>
  {% endif %}
</div>

<button
  class="btn btn-primary"
  onclick="document.getElementById('next-button').click();"
>
  Continue
</button>

<dialog>
  <button style="float: right" onclick="hideTask(event)">Close</button>
  {% if id == 1 %} {% include "TaskDescription1.html" %} {% else %} {% include
  "TaskDescription2.html" %} {% endif %}
</dialog>

<style>
  .split-window {
    height: calc(100vh);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: min-content;
  }
  .split-window-div {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 6px;
  }
  iframe,
  .gpt-window {
    width: 100%;
    height: calc(100vh - 50px);
    border: none;
  }
  dialog {
    top: 50%;
    translate: 0px -50%;
    max-width: 90vw;
  }
</style>

{% endblock %}
